.header {
    background: linear-gradient(to right, #4caf50, #81c784);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    h1 {
        font-weight: 700;
        font-size: 2rem;
        color: white;
        background-color: #4caf50;
        padding: 10px;
        border-radius: 5px;
    }
    
    button {
        background-color: #4caf50;
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    button:hover{
        background-color: #4b864e;
        transition: background-color 0.3s ease, transform 0.2s ease;
      }
}