.footer {
    background: linear-gradient(to right, #4caf50, #81c784);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 0.8rem;
}